<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matrix Calculator</title>
</head>
<body>
    <form action="{{ url_for('add')}}" method="post">        <!--   add => function name    -->
        <!-- <input type="text" name="mat1" id="mat1" placeholder="Enter first matrix">
        <input type="text" name="mat2" id="mat2" placeholder="Enter second matrix"> -->

        <textarea name="mat1" id="mat1"></textarea>
        <br>
        <textarea name="mat2" id="mat2"></textarea>
        <br>
        <select name="operations" id="operations">
            <option value="add">Addition</option>
            <option value="sub">Subtraction</option>
            <option value="norm_mul">Normal Multiplication</option>
            <option value="mat_mul">Matrix Multiplication</option>
            <option value="transpose">Transpose</option>
        </select>
        <br>
        <button type="submit">Result</button>
    </form>
</body>
</html>